@import "colors";

.home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem;
}
.container {
  padding: 1rem;
  width: 270px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 20px;
  background-color: $tertiary;
  border-radius: 30px;
}
.productCard {
  width: 250px;
  max-height: fit-content;
  margin: 2rem;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 0.5rem;
  }
  p {
    color: $primary;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  h4 {
    color: $primary;
    margin-bottom: 0.5rem;
  }
}
.btndiv {
  margin-top: 30px;
  margin-bottom: 30px;

  padding: 5px;

  button {
    background-color: $secondary;
    border: none;
    padding: 0.5rem;
    color: $tertiary;
    border-radius: 10px;
    transition: all 0.5s;
    width: 100%;
    cursor: pointer;
    &:hover {
      background-color: $secondarydark;
    }
  }
}
